extends layout

block content
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
  h1 AIS Aggregator  
  div(class='stream', id='bitway')
  div(class='stream', id='explo')
  
  script.
    var socket = io();
    
    
    socket.on('explo', function(msg) {
      $('#explo').prepend(msg.substring(0,20) + "\n");
      $('#bitway').prepend(msg.substring(0,20) + "\n");
    });
    
