body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.stream_container {
  width: 15em;
  height: 30em;
  font-family: monospace;
  position: relative;
  display: inline-block;
  border: 1px solid black;
  vertical-align: top;
  overflow: hidden;
}

#client_list {
  border: solid 1px black;
    float: right;
    width: 20em;
    display: inline-block;
}
.stream_stats, .stream_data { 
  width: 100%;
  border: 1px solid black;
  position:relative;
  display: block;
  overflow: visible;
}

#all_streams_controller {
  display: inline-block;
}
  
.stream_online {
  background-color: aquamarine;
}

.stream_offline {
  background-color: lightcoral;
}


.data_line {
  border-bottom: dashed 1px black;
  display: block;
}

.duplicate {
    border-bottom: dashed 1px black;
    display: block;
    background-color: lightcoral;
}

.last_data_time {
    background-color: yellow;
} 
